APP_NAME="Skills Marketplace Starter"
APP_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_APP_BASE_URL="http://localhost:3000"
AUTH_MODE="local"
STORAGE_DRIVER="local"
AGENT_SKILLS_DATA_DIR="./data"
AGENT_SKILLS_MARKETPLACE_URL="http://localhost:3000"
NEXT_PUBLIC_AGENT_SKILLS_MARKETPLACE_URL="http://localhost:3000"
SESSION_SECRET="replace-this-in-production"
ENABLE_DEV_LOGIN="1"
AGENT_SKILLS_DEFAULT_HANDLE="demo"
ALERT_WEBHOOK_URL=""
ALERT_DEDUPE_MS="300000"
ALERT_LOG_ONLY="0"
